---
import '../styles/global.css';
const { title } = Astro.props;
---

<html lang="fr">
  <head>
      <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- <title>SpinBack - Site Officiel</title> -->
    <title>{title}</title>
    <link rel="preload" href="/assets/fonts/Tomarik-Poster.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/assets/fonts/Salted_Regular.otf" as="font" type="font/opentype" crossorigin />
    <link rel="preload" as="image" href="/assets/images/hero-image.webp" type="image/webp" />
  </head>
  <body>
    <slot />
  </body>
</html>